# Data Science Tools and Ecosystem

In this notebook Data Science Tools and Ecosystem are summarized

**Objectives**

* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Java
2. C++
3. SQL
4. R
5. Python

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit Learn

|Data Science Tools|
|----------------|
|Apache Spark|
|R Studio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply

In [8]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [10]:
(200/60)

3.3333333333333335

## Author

Christian Iglesias